<settings>

    <setting propertyKey="@Properties.metricU" title="Metric for Top display">
        <settingConfig type="list">
            <listEntry value="0">Daily Kilometers</listEntry>
            <listEntry value="1">Daily Calories</listEntry>
            <listEntry value="2">Heart Rate</listEntry>
            <listEntry value="3">Battery</listEntry>
            <listEntry value="4">Battery days</listEntry>
            <listEntry value="5">Body Battery</listEntry>
            <listEntry value="6">Week day</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.metricR" title="Metric for Right circle">
        <settingConfig type="list">
            <listEntry value="0">Heart Rate</listEntry>
            <listEntry value="1">Week day</listEntry>
            <listEntry value="2">Battery</listEntry>
            <listEntry value="3">Body Battery</listEntry>
            <listEntry value="4">Setp goal</listEntry>
            <listEntry value="5">Stress</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.metricD" title="Metric for Bottom circle">
        <settingConfig type="list">
            <listEntry value="0">Heart Rate</listEntry>
            <listEntry value="1">Week day</listEntry>
            <listEntry value="2">Battery</listEntry>
            <listEntry value="3">Body Battery</listEntry>
            <listEntry value="4">Setp goal</listEntry>
            <listEntry value="5">Stress</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.metricL" title="Metric for Left circle">
        <settingConfig type="list">
            <listEntry value="0">Heart Rate</listEntry>
            <listEntry value="1">Week day</listEntry>
            <listEntry value="2">Battery</listEntry>
            <listEntry value="3">Body Battery</listEntry>
            <listEntry value="4">Setp goal</listEntry>
            <listEntry value="5">Stress</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showSecondHand" title="Show seconds hand">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.showIcon" title="Show crown icon at top">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.backgroundColor" title="Background Color RGB (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.color1" title="Second Hand RGB (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.color2" title="Hour Hand RGB (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.color4" title="Minute Hand 4 RGB (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.color3" title="Circles RGB (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.color5" title="Second Hand Pin RGB (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.color7" title="Metric Display Value RGB (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.color8" title="Metric Display Title RGB (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.color6" title="Metric Display Background RGB (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>


</settings>