<settings>

    <setting propertyKey="@Properties.metricU" title="Metric for Top display">
        <settingConfig type="list">
            <listEntry value="0">Daily Kilometers</listEntry>
            <listEntry value="1">Daily Calories</listEntry>
            <listEntry value="3">Heart Rate</listEntry>
            <listEntry value="4">Battery</listEntry>
            <listEntry value="5">Battery days</listEntry>
            <listEntry value="6">Body Battery</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.metricR" title="Metric for Right circle">
        <settingConfig type="list">
            <listEntry value="0">Heart Rate</listEntry>
            <listEntry value="1">Week day</listEntry>
            <listEntry value="2">Battery</listEntry>
            <listEntry value="3">Body Battery</listEntry>
            <listEntry value="4">Setp goal</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.metricD" title="Metric for Bottom circle">
        <settingConfig type="list">
            <listEntry value="0">Heart Rate</listEntry>
            <listEntry value="1">Week day</listEntry>
            <listEntry value="2">Battery</listEntry>
            <listEntry value="3">Body Battery</listEntry>
            <listEntry value="4">Setp goal</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.metricL" title="Metric for Left circle">
        <settingConfig type="list">
            <listEntry value="0">Heart Rate</listEntry>
            <listEntry value="1">Week day</listEntry>
            <listEntry value="2">Battery</listEntry>
            <listEntry value="3">Body Battery</listEntry>
            <listEntry value="4">Setp goal</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showSecondHand" title="Show seconds hand">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.backgroundColor" title="Background Color RGB comma separated (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.color1" title="Color 1 RGB comma separated (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>


    <setting propertyKey="@Properties.color2" title="Color 2 RGB comma separated (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>


    <setting propertyKey="@Properties.color3" title="Color 3 RGB comma separated (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>


    <setting propertyKey="@Properties.color4" title="Color 4 RGB comma separated (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>


    <setting propertyKey="@Properties.color5" title="Color 5 RGB comma separated (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>


    <setting propertyKey="@Properties.color6" title="Color 6 RGB comma separated (ex: 255,255,255)">
        <settingConfig type="alphaNumeric" />
    </setting>


</settings>